
		
		*{
			margin: 0;
			padding: 0;
		}
		
		div.container{
			width: 100%;
			height: 1000px;
		}
		
		div.carrinho-container{
			width: 100%;
			height: 60%;
			margin-top: 50px;
		}
		
		div.container1{
			width: 30%;
			height: 100%;
			background-color: #D8D8D8;
			float: left;
		}
		
		div.produto-container{
			width: 100%;
			height: 30%;
		}
		
		
		
		div.container2{
			float: left;
			width:70%;
			height: 100%;
			background-color: #D8D8D8;
		}
		
		div.total-container{
			width: 95%;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 8px;
			background-color: #FFF;
			margin: 80px auto;
			font-size: 28px;
		}
		
		div.finalizar-container{
			width: 60%;
			height: 10%;
			position: relative;
			border: 1px solid;
			margin-left: auto;
			margin-right: auto;
			top: 50px;
		}
		
		div.form-pesquisar{
			width: 95%;
			height: 25%;
			margin: 10px auto;
		}
		
		#pesquisar-produto{
			width: 100%;
			height: 100%;
		}
		
		#barcode{
			height: 80%;
			width: 70%;
			font-size: 23px;
		}
		
		button.pesquisar{
			width: 20%;
			height: 88%;
			font-size: 22px;
			position: relative;
			left: 10px;
			
		}
		
		div.produto-info{
			width: 95%;
			height: 100%;
			margin: 15px auto;
			font-size: 22px;
		}
		
		div.produto-imagem{
			width: 36%;
			height: 75%;
			float: left;
		}
		
		div.produto-encontrado{
			width: 58%;
			height: 85%;
			float: left;
			margin-left: 10px;
			
		}
		
		div.produto-dados{
			width: 100%;
			height: 75%;
			
		}
		
		#unidades{
			width: 35%;
			height: 100%;
			font-size: 23px;
			margin-left: 10px;
			visibility: hidden;
		}
		
		div.unidades-container{
			width: 100%;
			height: 40px;
		}
		
		#btn-adicionar{
			width: 40%;
			height: 113%;
			font-size: 23px;
			color: #FFF;
			background-color: green;
			position: relative;
			left: 10px;
			visibility: hidden;
		}
		
		#btn-finalizar{
			width: 100%;
			height: 100%;
			font-size: 22px;
		}
		
		div.carrinho-table{
			width: 95%;
			height: 95%;
			background-color: #FFF;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 2.5%;
			overflow: auto;
		}
		
		table#items{
			width: 100%;
			font-size: 20px;
		}
		
		table#items td, th{
			text-align: center;
			border: 1px solid;
		}
		
		button.btn-editar{
			color: #FFF;
			background-color: blue;
		}
		
		button.btn-remover{
			background-color: red;
			color: #FFF;
		}
		
		td.td-produto{
			width: 40%;
		}
		
		div.produto-imagem img{
			width: 100%;
			height: 100%;
		}
		
	
