
*{
	margin: 0;
	padding: 0;
}

.container{
	width: 75%;
	height: 800px;
	margin: 0 auto;
}
		
.nav-superior{
	width: 100%;
	height: 50px;
	background-color: #D8D8D8;
}
		
.nav-superior ul{
	list-style: none;
}
		
.nav-superior ul li{
	float: right;
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
		
.nav-superior ul li a{
	text-decoration: none;
	color: black;
	line-height: 50px;
	font-size: 20px;
}
		
.produtos-container{
	margin-top: 80px;
}
		
.produtos-container form input{
	height: 40px;
	float: left;
	margin-right: 10px;
	font-size: 20px;
}

#categorias{
	height: 43px;
	float: left;
	margin-right: 10px;
	font-size: 20px;
	margin-top: 0px;
}

button.btn-buscar{
	float: left;
	font-size: 20px;
	height: 43px;
	width: 100px;
}
		
#codigo{
	width: 15%;
}
		
#nome{
	width: 30%;
}

div.pesquisar{
	height: 50px;
}

div.produtos-list{
	position: relative;
	top: 5px;
}
		
#produtos-items{ 
	width: 100%;
	height: 300px;
	overflow: auto;
}

table#produtos-table{
	width: 100%;
}

table#produtos-table td{
	text-align: center;
}
		
.produto-info{
	float: left;
	height: 100%;			
}
		
.produto-item{
	width: 90%;
	padding-top: 10px;
	margin: 20px auto;
	height: 130px;
	background-color: #FFF;
}
		
.produto-item-interno{
	width: 95%;
	margin: 0 auto;
	height: 120px;
	background-color: #FFF;
}
		
.produto-dados{
	width: 50%;
}
		
.produto-imagem{
	width: 20%;
}
		
.produto-editar{
	width: 10%;
	text-align: center;
}
		
.produto-remover{
	width: 15%;
	text-align: center;
}
		
a.acao{
	text-decoration: none;
	
}

.paginate{
	padding-left: 20px;
	padding-right: 20px;
	width: 30%; 
	margin: 30px auto;
	height: 50px;
	background-color: #D8D8D8;
	line-height: 50px;
	text-align: center;
}

.paginate h2{
	font-size: 30px;
}

a.comum{
	text-decoration: none;
	color: black;
}
		
a.escolhido{
	text-decoration: none;
	color: blue;
}

a.seta{
	text-decoration: none;
	color: green;
}

.btn-novo{
	float: right;
	font-size: 20px;
	height: 43px;4
}


		
		
		
		
		
