*{
	margin: 0;
	padding: 0;
}

.container{
	width: 75%;
	height: 800px;
	margin: 0 auto;
}
		
.nav-superior{
	width: 100%;
	height: 50px;
	background-color: #D8D8D8;
}
		
.nav-superior ul{
	list-style: none;
}
		
.nav-superior ul li{
	float: right;
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
		
.nav-superior ul li a{
	text-decoration: none;
	color: black;
	line-height: 50px;
	font-size: 20px;
}
		
div.users-container{
	margin-top: 80px;
}

div.pesquisar{
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
}
		
div.pesquisar form input{
	height: 40px;
	float: left;
	font-size: 20px;
}

button.btn-buscar{
	float: left;
	font-size: 20px;
	margin-left: 10px;
	height: 43px;
	width: 100px;
}
		
#nome{
	width: 30%;
}


#nivel{
	width: 30%;
	height: 43px;
	font-size: 20px;
	float: left;
	position: relative;
	left: 10px;
	top: -10px;
}

		
.users-items{ 
	width: 100%;
	height: 250px;
	position: relative;
	top: 10px;
	overflow: auto;
}

#users-table{
	width: 100%;
}

#users-table th{
	font-size: 22px;
}

#users-table td{
	text-align: center;
	font-size: 22px;
}







