<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Paginação</title>
	</head>
	<style type="text/css">
		.paginate{
			width: 50%;
			height: 70px;
			background-color: #D8D8D8;
		}
		
		.escolhido{
			color: blue;
		}
	</style>
	<body>
		<div class="paginate" id="paginate">
		</div>
	</body>
	<script type="text/javascript">
	
		const paginacao = document.querySelector("#paginate");
		
		
		function paginar(atual, total){
			
			let limit = 5;
			let colunas = 10;
			let paginas = Math.ceil(total/limit);

			let inicio = ((atual - 1) * limit) + 1;
			let fim;
			
			if((atual * limit) >= total){
				fim = total;
			}else{
				fim = atual * limit;
			} 
			
			let linhas = Math.ceil(paginas/colunas);
			
			let pagina_inicial;
			let pagina_final;
			let final_bloco;
			let linha;
			let i;
			
			for(i = 1; i <= linhas; i++){
				final_bloco = i * colunas;
				if(final_bloco >= atual){
					pagina_inicial = ((i - 1) * colunas) + 1;
					if(final_bloco >= paginas){
						pagina_final = paginas;
					}else{
						pagina_final = final_bloco;
					}
					linha = i;
					break;
				}
			}
			
			let html = "<h2>";
			
			for(i = pagina_inicial; i <= pagina_final; i++){
				if( i == pagina_inicial){
					if(i > colunas){
						html += "<<<";
					}
				}
				
				if(i == atual){
					html += " <strong class='escolhido'>"+i+"</strong>";
				}else{
					html += " "+i;
				}
				
				if(i == pagina_final){
					if(i < paginas){
						html += " >>>";
					}
				}
			}
			html += "</h2>";
			paginacao.innerHTML = html;
			
		}
		
		paginar(195, 1000);
		
		
		/*
		paginacao.innerHTML = "<h2> <<< 1 2 3 4 5 6 7 >>> </h2>";
		*/
	</script>
</html>