.modal{
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	display: none;
	z-index: 1;
	opacity: 0.4;
}

.modal-editar{
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	display: none;
	z-index: 1;
	opacity: 0.4;
}

.modal-meio{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 250px;
}

.modal-box{
	width: 40%;
	height: 210px;
	margin: 0 auto;
	background-color: #D8D8D8;
	display: none;
	border-radius: 8px;
}

.modal-bottom{
	position: absolute;
	width: 27%;
	height: 30px;
	z-index: 3;
}

.modal-btn{
	margin-right: 30px;
	float: right;
	height: 34px;
	background-color: #BDBDBD;
	cursor: pointer;
	font-size: 20px;
}

.modal-produto{
	margin-top: 15px;
	height: 180px;
	float: left;
}

.modal-imagem{
	width: 30%;
	margin-left: 15px;
}

.dados{
	width: 65%;
}

.modal-imagem img{
	width: 90%;
	height: 100%;
}

.modal-dados{
	width: 100%;
	font-size: 20px;
	height: 75%;
}

input.modal-unidades{
	height: 30px;
	width: 30%;
	font-size: 20px
}
